#main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 50px;
    grid-template-areas: 
    "header header picture"
    "quote quote picture"
    "profile profile contact"
    "experience experience experience";
    align-items: center;
}

#experience-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 50px;
    grid-template-areas: 
    "code code"
    "database database"
    "web design";
    grid-area: experience;
}

#headline {
    grid-area: header;
}

#student-picture{
    grid-area: picture;
    text-align: center;
}

#student-quote{
    grid-area: quote;
}

#student-profile {
    grid-area: profile;
}

#student-contact {
    grid-area: contact;
    text-align: center;
}

#experience-code {
    grid-area: code;
}

#experience-database {
    grid-area: database;
}

#experience-web {
    grid-area: web;
}

#experience-design {
    grid-area: design;
}

@media screen and (max-width: 1024px){
    #main-grid {
        column-gap: 35px;
        grid-template-areas: 
        "header header"
        "quote picture"
        "quote contact"
        "profile profile"
        "experience experience";
        grid-template-columns: 1fr 1fr;
    }

    #experience-grid {
        row-gap: 20px;
        column-gap: 20px;
        grid-template-areas: 
        "code web"
        "database design";
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 450px){
    #main-grid {
        grid-template-areas: 
        "header"
        "picture"
        "contact"
        "quote"
        "profile"
        "experience";
        grid-template-columns: 1fr;
    }

    #experience-grid {
        grid-template-areas: 
        "code"
        "web"
        "database"
        "design";
        grid-template-columns: 1fr;
    }
}