html {
	font: 0px Courier; /*remove letter space between inline-blocks*/
	color: white;
}

body {
	margin: 0;
}



.box {
	font: 96px Courier;
	width: 120px;
	height: 120px;
	text-align: center;
}

.odd {
	background-color: #ee3e64;
}

.even {
	background-color: #44accf;
}

.container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-areas: "child1 child2"
	                     "footer footer";

}

.child1 {
	grid-area: child1;
	border: 2px solid green;
	display: flex;
	flex-direction: column;
}

.child2 {
	grid-area: child2;
	border: 2px solid blue;
	display: flex;
	justify-content: space-around;
}

footer {
	grid-area: footer;
	border: 2px solid red;
	height: 20px;	
}