.container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-areas: 
    "header header header"
    "nav menu events"
    "footer footer footer";
    height: 100vh;
    gap: 10px;
}

header {
    grid-area: header;
}

#menu-nav {
    grid-area: nav;
}

main {
    grid-area: menu;
}

#upcoming-events {
    grid-area: events;
}

footer {
    grid-area: footer;
}

@media screen and (max-width: 768px){
    div.containter {
        grid-template-areas: 
        "header"
        "nav"
        "menu"
        "events"
        "footer";
        grid-template-columns: 1fr;
    }
}