html {
    height: 100%;
    font-size: 16px;
}

* {
    /* the width of the box includes padding and border when I set it*/
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    /*gradient background */
    background-image: linear-gradient(to bottom, #858c90, #bbb);
    /*don't repeat the background, stretch it*/
    background-repeat: no-repeat;
    /*don't scroll background with page*/
    background-attachment: fixed;
    /*don't have teh elements wrap, horizontal scroll instead*/
    white-space: nowrap;

}

/*any div with class trello-list*/
div.trello-list {
    /*multi column layout*/
    display: inline-block;
    width: 300px;
    background-color: #ddd;
    /* rounded corners */
    border-radius: 2px 2px;
    margin-right: 10px;
    vertical-align: top;

}

/*h2 that's a descendant of a div with class trello-list*/
div.trello-list h2 {
    /*push h2 from the edge*/
    margin: 8px;
    /*keep font consistent with the root*/
    font-size: 1rem;
    font-weight: bold;
}

div.trello-list li {
    /*remove the  numerical formatting*/
    list-style: none;

    /*set the background color*/
    background-color: whitesmoke;
    /*adjust the font to be smaller than the list title*/
    font-size: 0.9rem;
    /*spacing between the list items*/
    padding: 8px;
    margin-bottom: 10px;
    /*slightly round card edge*/
    border-radius: 1px;
    white-space: normal;
}

/*make list items darker on hover*/
div.trello-list li:hover {
    background-color: wheat;
    color: blue;
}

/*the last list item needs to not have the bottom margin*/
div.trello-list li:last-child {
    margin-bottom: 0px;
}

div.trello-list a {
    /*layout*/
    display: block;
    text-decoration: none;
    color: #888;
    /*spacing*/
    padding: 8px 0px 8px 5px; /*top right bottom left*/
    font-size: 0.85rem;
}

div.trello-list ol {
    /*remove the margin and padding to push the cards in*/
    margin: 0;
    padding: 0;
}

/*h1 or paragraph taht's a direct child of a header*/
header > h1,
header > p {

    display: inline-block; 
    /*limit the height*/
    height: 20px;
    /*middle align the content within the block*/
    vertical-align: middle;
    color: rgba(255,255,255,.5);
    /*that white line between*/
    border-right: 1px solid rgba(255,255,255,.5);
    /*but not right on top of it*/
    padding-right: 20px;
}

header > h1 {
    /*make the board name uppercase*/
    text-transform: uppercase;
    /*make the font big*/
    font-size: 1.1rem;
}

header > p {
    /*make the font size of the paragraphs in the header a bit smaller than the root*/
    font-size: .9rem;
    /*spacign*/
    padding-left: 5px;
}

.labels span {
    display: inline-block;
    width: 35px;
    height: 8px;
    /*round the edge*/
    border-radius: 3px;
}

.label.general {
    background-color: orange;
}

.label.pathway{
    background-color: red;
}

.label.individual {
    background-color: green;
}

.label.pair {
    background-color: blue;
}

header {
    /*fixed to the window so it doesn't scroll offscreen*/
    position: fixed; 
    /*takes up 50px height*/
    height: 50px;
    /*up against the top*/
    top: 0;
}

main {
    margin-top: 50px;
}